p {
  font-size: 1rem;
  font-family: 'pathway gothic one';
}

.post {
  h2:first-of-type {
    display: none;
  }
}

html {
  ::-moz-selection {
    background: transparent;
    color: white;
  }
  ::selection {
    background: black;
    color: white;
  }
}
