.audio {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 5rem;
  left: 5rem;
  opacity: 0.5;
  width: 4rem;
  height: 4rem;
  background: url(../../static/images/audio-spectrum-md.svg) no-repeat;
  background-position: center;
  background-size: cover;
}
