@import '../styles/colours.scss';

.filmstrip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title,
.description {
  z-index: 100;
  color: $white;
  line-height: 1.7rem;
  font-size: 1.3rem;
  text-align: center;
}
