footer {
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

address {
  line-height: 0.8rem;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'pathway gothic one';
  display: flex;
  flex-direction: column;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.01rem solid black;
  background: transparent;
  text-align: center;
  font-family: 'cormorant';
  font-weight: bold;
  font-size: 0.5rem;
  border-radius: 50%;
}
