.hidden {
  display: none;
}

.links {
  text-decoration: none;
}

.logo {
  display: block;
  font-size: 1rem;
  transform: none;
  line-height: 1;
  padding: 0.8em;
  width: 4em;
  height: 4em;

  &:visited {
    color: currentColor;
  }
}

.info {
  height: 100vh;
}

.portrait {
  max-width: 100px;
}
