.button {
  z-index: 100;
  transform: translateX(-50%) translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border: 0.01rem solid black;
  background: antiquewhite;
  text-align: center;
  font-family: 'cormorant';
  font-weight: bold;
  font-size: 0.5rem;
  border-radius: 50%;
}

.moving {
  position: fixed;
  cursor: none;
  border: none;
}

.sticky {
  position: absolute;
}
