.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
  width: 100vw;
}

.bgVid {
  position: absolute;
  object-fit: cover;
}

.mainVid {
  width: 60vw;
  height: auto;
}

.inner {
  position: absolute;
  width: fit-content;
  height: fit-content;
  border: 5px solid white;
  position: relative;
}
