.splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
  width: 100vw;
}

video {
  position: absolute;
}

.inner {
  position: absolute;
  width: 80%;
  height: 70%;
  border: 2px solid;
  position: relative;
}

.audioButton {
  position: absolute;
}
